@model HostelManagement.Models.Student

<h2>Add Student</h2>

<form asp-action="AddStudent" method="post">

    <div class="mb-3">
        <label>Student Name</label>
        <input asp-for="StudentName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <input asp-for="Gender" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Course</label>
        <input asp-for="Course" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <br />

    <input type="submit" value="Save" class="btn btn-success" />

</form>

<br />

<h4 style="color:green">
    @ViewBag.msg
</h4>
